<!DOCTYPE html>
<html>
  <head>
    <title>Avad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
	  <!-- Navbar  
	  	 Author: Gab -->
	<nav class = "navbar default-navbar navbar-fixed-top">
		<%= link_to "Avad", splash_path, {:class =>"navbar navbar-brand"} %>
		<ul class="navbar navbar-nav">
			<li> <%= link_to "Events", events_path %> </li>
		</ul>
		<ul class = "navbar navbar-nav navbar-right">
			<li> <%= link_to "Login", login_path %> </li>
			<li> <%= link_to "Sign Up", register_path %> </li>
		</ul>	
	</nav>	
	<!-- End of navbar -->
    <%= yield %>
    	<!-- Do we need a footer? -->
	<!-- Eh i'll do it later -Gab -->
  </body>
</html>
